@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bgImg {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNrTGtB41cnQ2afWPUyEwqnYqWfk-j-v0xQA&usqp=CAU);
}

.navbar {
  background-image: url(https://bibliothequeforney.files.wordpress.com/2021/01/202610-2-1.jpg?w=762);
}